.container {
    position: relative;
    margin-block-end: 20px;
}

.input {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.suggestionsPopover {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
    inset-inline-start: 0;
    background-color: #2e2e2e;
    padding: 10px;
    z-index: 1;
    border-radius: 5px;
    inset-block-start: 40px;
}

.suggestion {
    cursor: pointer;
    padding: 4px;
    border-block-end: 1px solid #464646;
    width: 100%;
    text-align: start;
    color: #f5f5f5;
}

.suggestion:hover {
    opacity: 0.9;
}